.comments ul ul {
  margin-left: 60px;
}
.comments .comment img {
  margin-right: 20px;
}
.comments .comment {
  padding: 6px;
}
.comments .comment:hover {
  background: #eee;
}

.panel-comments {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: rgba(110, 106, 106, 0.87);
  margin-top: 2%;
  margin-left: 1px;
  width: 5%;
  height: 55%;
}
.form-name {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: rgba(110, 106, 106, 0.87);
  margin: 5%;
  margin-left: 1px;
  width: 80%;
  height: 35%;
}
